.Good_Fit_Color {
          background-color: #228B22 !important;
          color: white !important;
}     
  
.Bad_Fit_Color {
          background-color: #D80E0E !important;
          color: white !important;
}
  